In [1]:
import pandas as pd

In [2]:
shopping_file = "raw_data/Clothing.csv"
furniture_file = "raw_data/Furniture.csv"
electronic_file = "raw_data/Electronics_Appliance.csv"
grocery_file = "raw_data/Grocery.csv"

In [3]:
shopping_df = pd.read_csv(shopping_file)
furniture_df = pd.read_csv(furniture_file)
electronic_df = pd.read_csv(electronic_file)
grocery_df = pd.read_csv(grocery_file)

In [4]:
shopping_df[['Period','Year']] = shopping_df['Period'].str.split('-',expand=True)
furniture_df[['Period','Year']] = furniture_df['Period'].str.split('-',expand=True)
electronic_df[['Period','Year']] = electronic_df['Period'].str.split('-',expand=True)
grocery_df[['Period','Year']] = grocery_df['Period'].str.split('-',expand=True)

In [5]:
shopping_df = shopping_df.rename(columns={"Period":"Month",
                            "Value":"Sales"})
shopping_df = shopping_df[['Year','Month','Sales']]

furniture_df = furniture_df.rename(columns={"Period":"Month",
                            "Value":"Sales"})
furniture_df = furniture_df[['Year','Month','Sales']]

electronic_df = electronic_df.rename(columns={"Period":"Month",
                            "Value":"Sales"})
electronic_df = electronic_df[['Year','Month','Sales']]

grocery_df = grocery_df.rename(columns={"Period":"Month",
                            "Value":"Sales"})
grocery_df = grocery_df[['Year','Month','Sales']]

In [6]:
yearly_sales = shopping_df.groupby(['Year'])
shopping_yearly = yearly_sales.sum()

yearly_sales = furniture_df.groupby(['Year'])
furniture_yearly = yearly_sales.sum()

yearly_sales = electronic_df.groupby(['Year'])
electronic_yearly = yearly_sales.sum()

yearly_sales = grocery_df.groupby(['Year'])
grocery_yearly = yearly_sales.sum()

In [7]:
all_yearly = pd.merge(shopping_yearly,furniture_yearly, on="Year",suffixes=['_shopping','_furniture'])

In [8]:
other_yearly = pd.merge(electronic_yearly,grocery_yearly, on="Year",suffixes=['_electronic','_grocery'])

In [9]:
all_yearly = pd.merge(all_yearly,other_yearly, on="Year")

In [11]:
yearlysales_df = all_yearly.rename(columns = {"Sales_shopping":"shopping_sales",
                                              "Sales_furniture":"furniture_sales",
                                              "Sales_electronic":"electronic_sales",
                                              "Sales_grocery":"grocery_sales"})

In [12]:
yearlysales_df.head()

      shopping_sales  furniture_sales  electronic_sales  grocery_sales
Year
1992        119449.0          52197.0           48404.0       336540.0
1993        124615.0          55396.0           54916.0       341481.0
1994        128580.0          60262.0           63897.0       350416.0
1995        131201.0          63509.0           72278.0       356763.0
1996        136653.0          67479.0           76040.0       364999.0